/vendor
/node_modules
composer.lock
.phpunit.result.cache
.env
.env.backup
.phpunit.cache
.env.testing
.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
coverage.xml
*.cache
.php_cs.cache
.php-cs-fixer.cache 